html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #e2e7f1;
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
}
a {
  color: #047bf8;
}

/* Nav styles */
.navbar, .navbar-spacer {
  height: 65px;
  width: 100%;
}
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  top: 0;
  background: #2aa4de;
  color: #fff;
  z-index: 9;
}
.navbar a {
  color: #fff;
  text-decoration: none;
}
.logo {
  font-size: 25px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.left-nav, .right-nav  {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.left-nav {
  padding-left: 20px;
}
.right-nav {
  padding-right: 20px;
}

.button {
  padding: 0 10px;
  display: inline-block;
  font-weight: 600;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #d1d2d3;
  border-radius: 0.25em;
  height: 26px;
  line-height: 26px;
  background-color: #eff3f6;
  background-image: linear-gradient(to bottom, #fafbfc, #e4ebf0);
  background-repeat: repeat-x;
  background-size: 110% 110%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFBFC', endColorstr='#FFE4EBF0')";
}
.button:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(to bottom, #f0f3f6, #dce3ec);
  border-color: #afb1b2;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0F3F6', endColorstr='#FFDCE3EC')";
}
.layout {
  padding: 30px;
}
.page-title {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-top: 37px;
}
.back-button {
  text-decoration: none;
}

.ais-Hits-list, .ais-InfiniteHits-list, .ais-InfiniteResults-list, .ais-Results-list {
  margin-top: -1rem;
  margin-left: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ais-Hits-item, .ais-InfiniteHits-item, .ais-InfiniteResults-item, .ais-Results-item {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0;
  width: calc(25% - 1rem);
  border: 1px solid #c4c8d8;
  box-shadow: 0 2px 5px 0 #e3e5ec;
  background: #FFF;
  border-radius: 3px;
}

.movie-preview {
  background: #fff;
  padding: 20px;
  min-height: 100%;
  text-align: center;
  color: #FFF;
  font-weight: bold;
}

.movie-preview img {
  margin-bottom: 10px;
}
a:hover {
  text-decoration: none;
}

.ais-Breadcrumb-list, .ais-CurrentRefinements-list, .ais-HierarchicalMenu-list, .ais-Hits-list, .ais-InfiniteHits-list, .ais-InfiniteResults-list, .ais-Menu-list, .ais-NumericMenu-list, .ais-Pagination-list, .ais-RatingMenu-list, .ais-RefinementList-list, .ais-Results-list, .ais-ToggleRefinement-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ais-SearchBox-form {
  display: block;
  position: relative;
}

.ais-SearchBox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .3rem 1.7rem;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
}

.ais-SearchBox-submit {
  left: .3rem;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

.image {
  display: block;
  margin: 0 auto;
}

.movie-picture {
  background: #fff;
  padding: 50px;
}

.showtime {
  margin-bottom: 15px;
}